td, th {
  text-align: center !important;
  vertical-align: middle !important; 
}

.input-group {
  margin: 20px 0;
}

svg {
  height: 150px;
}

/* #map {
 height: 200px;
 width: 250px;
} */

td:first-of-type > div {
     height: 13rem;
     width: 16rem;
}